<body>
    <main>
        <div class="container">
            <section class="mb-4">
                <h2 class="h1-responsive text-center my-5" style="font-family: Lora; color: var(--dark-green-color)">Contact Us</h2>
                <p class="text-center w-responsive mx-auto mb-5" style="font-family: Poppins; color: var(--grey-color); max-width: 550px">Got any questions? Don't hesitate to contact us directly. Our team
                    will come back to you within a matter oh hours to help you.
                </p>

                <div class="row" style="justify-content: center;">
                    <div class="col-md-9 mb-md-0 mb-5">
                        <form id="contactform">
                            <div class="row" style="margin-bottom:2%">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="name" style="font-family: Poppins; color: var(--dark-green-color)">Your Name</label>
                                        <input type="text" name="name" class="form-control" style="""font-family: Poppins; color: var(--grey-color)">
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="email" style="font-family: Poppins; color: var(--dark-green-color)">Your Email</label>
                                        <input type="email" name="email" class="form-control" style="""font-family: Poppins; color: var(--grey-color)">
                                    </div>  
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:2%">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="subject" style="font-family: Poppins; color: var(--dark-green-color)">Subject</label>
                                        <input type="text" name="subject" class="form-control" style="""font-family: Poppins; color: var(--grey-color)">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:2%">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <label for="" style="font-family: Poppins; color: var(--dark-green-color)">Your Message</label>
                                        <textarea type="text" name="message" row="3" class="form-control md-textarea" style="""font-family: Poppins; color: var(--grey-color)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 2%;">
                                <button type="submit" class='btn btn-outline-white btn-dark btn-contact-us' data-bs-toggle="modal" data-bs-target="#signupModal" style="font-family: Poppins;">Send</button>
                            </div>
                        </form>
                    </div>
                    <div>

                    </div>
                </div>
            </section>
        </div>
    </main>
</body>